@CHARSET "UTF-8";

body {
	background-image: url("../img/BEPIN_DE_ETO_3.cantina_sfondo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: cursive;
}

div.topunder {
	height: 84px;
	position: absolute;
	left: 1.8mm;
	top: 0px;
	width: 99%;
	background: #ffffff;
	opacity: 0.5;
	
}

div.top {
	height: 84px;
	position: relative;
	left: 1.8mm;
	top: 0px;
	width: 99%;
	
}

div.log {
	float: right;
	padding: 2px 3px 0px 0px;
}

div.log img {
	width: 140px;
	height: 28px;
	
}


div.navigazione {
	position: relative;
	
}

ul.navigazione {
	list-style-type: none;
	text-align: center;
 	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  	box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);

	
}

li.navigazione {

	text-align: center;
	display: inline-block;
  
}

li.navigazione  a {
	
	display: block;
	text-align: center;
	padding: 18px;
	text-transform:uppercase;
	text-decoration: none;
	font-size: 18px;
	color:#606060;
}

li.navigazione  a:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
	background: rgba(255, 255, 255, 0.1);
	color:#606060;
		
}