@charset "UTF-8";

.bacheca {
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%,
		rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 75%,
		rgba(255, 255, 255, 0.2) 100%);
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.5), inset 0 0 1px
		rgba(255, 255, 255, 0.6);
		margin: auto 10% 1em 10%;
}
.bacheca tr{
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.3), inset 0 0 1px
		rgba(255, 255, 255, 0.5);
	
}

.bottiglia img{
	float: left;
	width: 2.5em;
	height: auto;
	margin:1em 3em 1em 3em;
	
}

.descrizione h2{
	margin: auto 7em;
}

.descrizione p{
	margin-top: 1em;
	font-size: x-large;
	width: 50%;
	margin: auto 7em;
}