@CHARSET "UTF-8";

body {
	background-color: red;
}

h1.top{
	
}
	background-image:url("img/vino-cantina.jpg") ;
	background-size: cover;
	background-repeat: no-repeat;	
}
h1.titolo{
	font-size:90px; 
}
h1#sottotitolo{
	color: #01ebb1;
}
	
