@CHARSET "UTF-8";

body {
	background-image:url("img/agronomo-vigneto-napoli.jpg") ;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: cursive;
	
		
}

div.top{
	height: 84px;
	position: fixed;
	left: 1.8mm;
	top: 0px;
	width: 99%;
}

div.log{
	float: right;
	padding:2px 3px 0px 0px;
}

div.log img{
	width: 140px;
	height: 28px;
}

button.log{
	width: 150px;
	height: 30px;
	background-size: cover;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
	
ul.navigazione  {
	list-style-type: none;
	overflow: hidden;
	background-color: #ffffff;
}

li.navigazione {
	float: left;
}

li.navigazione  a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

li.navigazione  a:hover {
	background-color: #111111;
}